<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>jelog</title>
</head>
<body>
    <!--<div th:if="${}">
        <button><a th:href="@{/jelog/userreg}">회원가입</a></button>
        <button><a th:href="@{/jelog/login}">로그인</a></button>
    </div>
    <div th:if="${}">
        <button><a th:href="@{/jelog/logout}">로그아웃</a></button>
    </div>-->
    <button><a th:href="@{/jelog/userreg}">회원가입</a></button>
    <button><a th:href="@{/jelog/login}">로그인</a></button>
    <button><a th:href="@{/jelog/logout}">로그아웃</a></button>
</body>
</html>